<div id="h">
  <div class="container">
    <div class="row centered">
      <h3 class="logo aligncenter">HOLLER</h3>
      <h1>The Personal Customer Communication Platform</h1>

      <div class="col-md-6 col-md-offset-3 mt">
        <form role="form" action="register.php" method="post" enctype="plain">

          <button class='btn btn-lg btn-green subscribe-submit' type="button" data-toggle="modal" data-target="#inviteModal">Get Your Invitation</button>
        </form>
      </div>
    </div><!--/row -->

    <div class="row">
      <div class="continue">
        <i class="ion-chevron-down"></i>
      </div>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/header -->
