---
layout: application
body_class: home
redirect_from:
  - /about/
  - /blog/
---

{% include homepage/header.html %}

<!-- ********** CALL TO ACTION SECTION ********** -->
<div id="cta">
	<div class="container">
		<div class="row">
			<h2>Enable your customers to text you on SMS or Facebook and provide remarkable support.</h2>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/CTA -->

<!-- ********** HOW IT WORKS SECTION ********** -->
<div id="g" class="mt">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 centered">
				<h2>How It Works</h2>
				<hr class="aligncenter">
				<h4>Up And Running In Under 5 Minutes</h4>
			</div><!-- /col-md-6-->
		</div><!--/ row-->

		<div class="row mt">
			<div class="col-md-4">
				<h4 class="green">STEP 1</h4>
				<p>Connect to <a href='https://www.twilio.com' target='_blank'>Twilio</a>. Rather than us charging you a per message fee, you can instantly integrate with Twilio and avoid any increase in costs.</p>
				<h4 class="green mt">STEP 2</h4>
				<p>Connect your <a href='https://www.slack.com' target='_blank'>Slack</a> account to begin immediately receiving messages from customers. It's completely free!</p>
			</div><!--/col-md-4-->
			<div class="col-md-4">
				<img src="/assets/images/home/zen-yoga.gif" alt="Sample Holler Conversation" class="img-responsive aligncenter" data-effect="slide-bottom" />
			</div><!--/col-md-4-->
			<div class="col-md-4">
				<h4 class="green">STEP 3</h4>
				<p>Put your number on your website or use one of our free landing pages to begin promoting your business to customers instantly.</p>
				<h4 class="green mt">STEP 4</h4>
				<p>Communicate with your customers through targeted broadcasts or one-to-one conversations and watch your business grow!</p>
			</div><!--/col-md-4-->
		</div><!--/row -->

	</div><!--/container -->
</div><!--/G -->

<!-- ********** CALL TO ACTION SECTION ********** -->
<div id="cta">
	<div class="container">
		<div class="row">
			<h2>Watch your customer engagement skyrocket instantly.</h2>
			<h2><strong>98%</strong> of all SMS messages are opened.</h2>
		</div><!--/row -->
	</div><!--/container -->
</div><!--/CTA -->


<!-- ********** FEATURES SECTION - Part 2 ********** -->
<div id="g">
	<div class="container">
		<div class="row mt">
			<div class="col-md-6 col-md-offset-3 centered">
				<h2>App Features</h2>
				<hr class="aligncenter">
				<h4>What You Need To Know</h4>
			</div><!-- /col-md-6-->
		</div><!--/row -->

		<div class="row mt">
			<div class="col-md-4 centered">
				<i class="em em-pray"></i>
				<p class="green">Simple Interface</p>
				<p class="text16">Sign up and you can instantly engage your customers, community, or private network directly from Slack.</p>
			</div><!--/col-md-4-->
			<div class="col-md-4 centered">
				<i class="em em-computer"></i>
				<p class="green">Custom Landing Page</p>
				<p class="text16">All networks get a free landing page to prompt members to register via SMS. Direct potential members here for instant registration.</p>
			</div><!--/col-md-4-->
			<div class="col-md-4 centered">
				<i class="em em-couplekiss"></i>
				<p class="green">Two-Way Conversation</p>
				<p class="text16">When you send out a broadcast, many people will have follow-up questions. You can receive and respond to those quesitons through private Slack conversation channels.</p>
			</div><!--/col-md-4-->
		</div><!--/row -->

		<div class="row mt">
			<div class="col-md-4 centered">
				<i class="em em-girl"></i><i class="em em-boy"></i>
				<p class="green">Unlimited Contacts</p>
				<p class="text16">It doesn't matter how large your audience is, you can broadcast to as many as you like.</p>
			</div><!--/col-md-4-->
			<div class="col-md-4 centered">
				<i class="em em-muscle"></i>
				<p class="green">Scalable</p>
				<p class="text16">Have too many members for one person to manage the responses? No worries. You can add team members as your business grows.</p>
			</div><!--/col-md-4-->
			<div class="col-md-4 centered">
				<i class="em em-moneybag"></i>
				<p class="green">Simple Pricing</p>
				<p class="text16">Whether you go with the basic or business pricing, you only pay as your team grows.</p>
			</div><!--/col-md-4-->
		</div><!--/row -->
	</div><!--/container -->
</div><!--/g -->

<!-- ********** TESTIMONIAL SECTION ********** -->
<!-- <div id="testimonial">
	<div class="container">
		<div class="row mt">
			<div class="col-lg-8 col-lg-offset-2 centered">
					<div id="testimonialsCarousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="item active">
								<img src="/assets/images/home/ui-01.jpg" class="img-circle aligncenter" width="120" alt="First slide">
								<h3>Mark Turin</h3>
								<hr class="aligncenter">
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
							</div>
							<div class="item">
								<img src="/assets/images/home/ui-02.jpg" class="img-circle aligncenter" width="120"  alt="Second slide">
								<h3>Sarah Schmidt</h3>
								<hr class="aligncenter">
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
							</div>
							<div class="item">
								<img src="/assets/images/home/ui-03.jpg" width="120" class="img-circle aligncenter" alt="Third slide">
								<h3>Phil Carsons</h3>
								<hr class="aligncenter">
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
							</div>
						</div>


  <a class="left carousel-control" href="#testimonialsCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#testimonialsCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
					</div>
			</div>
		</div>
	</div>
</div> -->

<!-- ********** FOURTH PART - PRICING ********** -->
<div id="ws">
	<div class="container">
		<div class="row mtb">
			<div class="col-md-4 col-md-offset-2">
				<div class="price">
					<h5>STARTER</h5>
					<h1>$19</h1>
					<h6>Per Agent Per Month</h6>
					<p class="mt">
						Contact Segmentation<br />
						Broadcast Messaging<br />
						International SMS (w/Twilio)<br />
						Slack Integration<br />
						Team Collaboration
					</p>
          <p class="mt">
  					<button class='btn btn-lg btn-green subscribe-submit' type="button" data-toggle="modal" data-target="#inviteModal">Get Your Invitation</button>
          </p>
				</div>
			</div><!--/col-md-4 -->

			<div class="col-md-4">
				<div class="price">
					<h5>BUSINESS</h5>
					<h1>$49</h1>
					<h6>Per Agent Per Month</h6>
					<p class="mt">
						API and Webhooks<br />
						Zapier Integration<br />
						Analytics<br />
						Payment Pages<br />
						Multi-Network Support
					</p>
					<p class="mt">
            <button class='btn btn-lg btn-green subscribe-submit' type="button" data-toggle="modal" data-target="#inviteModal">Get Your Invitation</button>
          </p>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- Modal -->
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel">
  <form action="https://www.getdrip.com/forms/11820401/submissions" method="post" data-drip-embedded-form="11820401">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Get an invite</h4>
      </div>
      <div class="modal-body">

          <div class="form-group">
            <label for="nameInput">Your Name</label>
            <input type="text" class="form-control" id="nameInput" placeholder="Name" name="fields[name]" />
          </div>
          <div class="form-group">
            <label for="emailInput">Your Email</label>
            <input type="email" class="form-control" id="emailInput" placeholder="Email" name="fields[email]" />
          </div>
          <div class="form-group">
            <label for="smsInput">Your SMS Number</label>
            <input type="text" class="form-control" id="smsInput" placeholder="SMS Number" name="fields[sms_number]" />
          </div>
          <div class="form-group">
            <label for="companyInput">Your Company</label>
            <input type="text" class="form-control" id="companyInput" placeholder="Company" name="fields[company]" />
          </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" name="submit" value="Get Invited" data-drip-attribute="sign-up-button" />
      </div>
    </div>
  </div>
  </form>
</div>

<!-- ********** REGISTER SECTION ********** -->
<!-- <div id="g">
	<div class="container">
		<div class="row mt">
			<div class="col-md-6 col-md-offset-3 centered">
				<h2>Stay In Contact</h2>
				<hr class="aligncenter">
				<h4>We Are Social People</h4>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3 mt centered">
				<form role="form" action="register.php" method="post" enctype="plain">
						<input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
					<button class='btn btn-lg btn-green subscribe-submit' type="submit">Subscribe</button>
				</form>
			</div>
		</div>
	</div>
</div> -->

<!-- ********** END SECTION ********** -->
{% include footer.html %}
