<footer class="container">
	<div class="row mtb">
		<div class="col-md-6 col-md-offset-3 centered">
			<p class="text28">
				<a href="https://www.twitter.com/holler" target='_blank'><i class="ion-social-twitter"></i></a>
				<a href="https://www.facebook.com/hollerinc" target='_blank'><i class="ion-social-facebook"></i></a>
			</p>
			<hr class="aligncenter">
			<p>Holler Inc. | <a href='/privacy'>Privacy Policy</a> | <a href='/terms'>Terms Of Use</a> | Copyright 2016</p>
		</div>
	</div><!--/row -->
</footer><!--/container -->
