<div id="h">
  <div class="container">
    <div class="row centered">
      <h3 class="logo aligncenter">LANDING<br/>SUMO</h3>
      <h1>Close more deals with<br/>our awesome app.</h1>

      <div class="col-md-6 col-md-offset-3 mt">
        <form role="form" action="register.php" method="post" enctype="plain">
            <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
          <button class='btn btn-lg btn-green subscribe-submit' type="submit">Yes, Please</button>
        </form>
      </div>
    </div><!--/row -->

    <div class="row">
      <div class="continue">
        <i class="ion-chevron-down"></i>
      </div>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/header -->	 
